@media screen and (max-width:576px) {
    .header-img {
        align-items: center;

    }

    .page-title,
    .company-logo,
    .popular-title,
    .feature-container {
        flex-direction: column;
        margin: auto;
        width: 80%;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-right: 10px;
        height: auto;
        /* background-image: url(./images/gear.png); */
        background-repeat: no-repeat;

    }

    .card-container,
    .po-img {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        margin-right: auto;
    }

    .btn-all, .fet-img{
        padding-top: 10px;
        padding-bottom: 5px;
    }
}