/* Shared elements */
* {
    font-family: 'Poppins', sans-serif;
}

/* Header Section */
.section-title {
    width: 243px;
    height: 52.2px;
    color: #3A3A3A;
    font-weight: 700;

}

.icon {
    width: 24px;
    height: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 0 auto;
    /* margin-left: 120px;
    margin-right: 120px; */
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

nav>ul {
    display: flex;
    gap: 30px;
    list-style: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}
li:hover{
    color:#E02C6D;
    cursor: pointer;
}

.header-img {
    background-image: url(./images/Circle\ design.svg);
}

/* Page title section */
.page-title {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 120px;
}



.title-message {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
}

.btn-all {
    width: 196px;
    height: 50px;
    border-radius: 41px;
    background: #E02C6D;
    color: white;
    border-style: none;
}

.btn-all:hover{
    cursor: pointer;
}
.section-img {
    background-image: url(./images/Circle\ design.svg);
}

/* Company logo section */
.company-logo {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
    margin: 120px;
}

/* Popular section */
.popular-title {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    /* 250% */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.popular-container {
    width: 100%;
    
    margin: 0 auto;

}

.card-container>div {
    box-shadow: 5px 5px 5px rgb(237, 241, 230);
    padding: 10px;
    text-align: center;

}

.card-container h2,
h3,
h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: auto;
    font-size: 20px;
    font-weight: 500;
}

.po-img {
    width: 500px;
}

.feature-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 80%;
    margin-left: 120px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: auto;
    /* background-image: url(./images/gear.png); */
    background-repeat: no-repeat;
}

/* footer section */
footer {
    
background-color: black;
color: white;
text-align: center; 
margin-top: 10px;
padding: 1px;

    
}
.icon-footer{
    
    width: 24px;
    height: 24px;
}

